
@{
    Layout = null;
}


<h2>Restoran Yemekleri</h2>

<div class="meal-card">
    <h3>Köfte</h3>
    <p>Değerlendirme Puanı: 4.5</p>
    <p>Yorum Sayısı: 10</p>
    <h4>Yorumlar</h4>
    <div class="comment">
        <p>Lezzetliydi!</p>
        <p>Puan: 5</p>
        <hr />
    </div>
    <div class="comment">
        <p>İdare eder.</p>
        <p>Puan: 3</p>
        <hr />
    </div>
    <hr />
</div>

<div class="meal-card">
    <h3>Pizza</h3>
    <p>Değerlendirme Puanı: 4.2</p>
    <p>Yorum Sayısı: 8</p>
    <h4>Yorumlar</h4>
    <div class="comment">
        <p>Harika bir pizza!</p>
        <p>Puan: 4</p>
        <hr />
    </div>
    <div class="comment">
        <p>Malzemeler azdı.</p>
        <p>Puan: 2</p>
        <hr />
    </div>
    <hr />
</div>