
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2> Restoran Tablo Örneği - Kategori </h2>
<table class="table table-bordered">
    <tr>
        <th>Kategori Id</th>
        <th>Kategori Adı</th>
        <th>Kategori Açıklama</th>
        <th>Kategori Durumu</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Ana Yemekler</td>
        <td>Açıklama Yapıldı</td>
        <td>True</td>
        <td class="btn btn-success">Güncelle</td>     
    </tr>
    <tr>
        <td>2</td>
        <td>Çorbalar</td>
        <td>Açıklama Yapıldı</td>
        <td>True</td>
        <td class="btn btn-success">Güncelle</td>
    </tr> 
</table>

<button class="btn btn-info">Yeni Kategori</button>
<button class="btn btn-warning">Kategori Listesi</button>
<button class="btn btn-danger">Kategori Açıklamaları</button>